/* These rules apply to the whole body */

body {
	font-size: 16px;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.offset { /*this is to offset the fixed header*/
	position: relative;
	top: 4rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

/* fixed banner */

.fixed {
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: white;
}

.logo {
	align-items: center;
	padding-left: 24px;
}

.nav {
	align-items: center;
	padding-right: .5rem;
}

.nav span {
	padding-right: 16px;
}

/* large banner */

.lrg_banner {
	background-color: pink;
}

.lrg_banner img {
	width: 60%;
	height: 60%;
	padding: 2rem 1.5rem;
}

.lrg_banner_two {
	max-width: 30%;
	margin: auto;
}

#bot_pad {
	padding-bottom: 30px;
}

.button {
	text-align: center;
	background-color: red;
	padding: 8px 0;
	color: white;
}

/* Keep practicing/Information */

.info {
	background-color: lightgreen;
}

.info_lrg_pic {
	max-width: 60%;
	height: auto;
	padding: 2rem 1.5rem;
}

.info_lrg_pic img {
	padding-right: 1.5rem;
	padding-bottom: 2rem;
	max-width: 100%;
}

.info_lrg_pic h1 {
	padding-bottom: 1.5rem;
}

.info_lrg_pic p {
	padding-bottom: 2rem;
}

.small_p {
	font-size: .85rem;
	padding-bottom: 0;
}

/* right hand side of Info section */

.info_contain {
	padding: 1rem;
	border: 1px black dashed;
	margin-top: 2rem;
	margin-right: 1rem;
}

.info_contain img {
	width: 35%;
	height: 35%;
}

.info_contain_text {
	padding-left: 1rem;
	padding-top: 1.25rem;
}

.info_contain_text h2,
.info_contain_text p {
	padding-bottom: .5rem;
}

/*Start learning */

.learn {
	background-color: rebeccapurple;
}

.learn h1 {
	text-align: center;
	padding-top: 2rem;
}

.courses {
	padding: 2rem 2.5rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

.course_box {
	min-width: 25%;
	max-width: 30%;
	margin-right: .5rem;
	margin-bottom: 1.5rem;
	background-color: lightblue;
}

.course_box img {
	height: auto;
	width: 100%;
}

.course_text {
	padding: 1.5rem;
}

.course_text h3 {
	padding-bottom: 1rem;
}

.course_text p {
	padding-bottom: .5rem;
	opacity: .65;
}