/* Possible color pallette: http://paletton.com/#uid=23D0u0kllllNF8ttMeUcUrM4sBC */

/* These rules apply to the whole body */

body {
	font-size: 16px;
}

.flex {
	display: flex;
}

.column {
	flex-direction: column;
}

.offset { /*this is to offset the fixed header*/
	position: relative;
	top: 4rem;
}

h1,
h2,
h3,
p,
span {
	font-family: "Noto Serif KR";
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
	color: rgb(255, 242, 220);
}

h3 {
	font-size: 1.5rem;
	color: rgb(255, 242, 220);
}

/* fixed banner */

.fixed {
	justify-content: space-between;
	align-items: center;
	height: 4rem;
	position: fixed;
	width: 100%;
	z-index: 2;
	background-color: rgb(92, 115, 145);
	border-bottom: 1px solid rgb(2, 20, 44); 
}

.logo {
	align-items: center;
	padding-left: 24px;
}

.logo span {
	font-family: "Orbitron";
}

#transparent {
	opacity: .6;
}

.nav {
	align-items: center;
	padding-right: .5rem;
}

.nav span {
	padding: 1rem;
}

.nav span:hover {
	background-color: rgb(162, 172, 185);
}

/* large banner */

.lrg_banner {
	background-color: rgb(162, 172, 185);
}

.lrg_banner img {
	width: 60%;
	height: 60%;
	padding: 2rem 1.5rem;
}

.lrg_banner_two {
	max-width: 30%;
	margin: auto;
}

#bot_pad {
	padding-bottom: 30px;
}

.button {
	text-align: center;
	background-color: rgb(92, 115, 145);
	padding: 8px 0;
	color: white;
}

.button:hover {
	color: black;
}

/* Keep practicing/Information */

.lrg_pic {
	max-width: 60%;
	height: auto;
	padding: 2rem 1.5rem;
}

.lrg_pic img {
	padding-right: 1.5rem;
	padding-bottom: 2rem;
	max-width: 100%;
}

.lrg_pic h1 {
	padding-bottom: 1.5rem;
}

.lrg_pic p {
	padding-bottom: 2rem;
}

.small_p {
	font-size: .85rem;
	padding-bottom: 0;
	font-style: italic;
}

/* right hand side of Info section AND exhibit section*/

.info_contain {
	padding: 1rem;
	background-color: rgb(92, 115, 145);
	margin-top: 2rem;
	margin-right: 1rem;
}

.info_contain:hover {
	background-color: rgb(221, 187, 132);
}

.info_contain img {
	width: 35%;
	height: 100%;
}

.info_contain_text {
	padding: 1rem;
}

.info_contain_text h2,
.info_contain_text p {
	padding-bottom: .5rem;
}

.info_contain_text a {
	color: rgb(67, 42, 0);
}

.info_contain_text a:hover {
	background-color: rgb(255, 242, 220);
}


/*Start learning */

.learn {
	background-color: rgb(162, 172, 185);
}

.learn h1 {
	text-align: center;
	padding-top: 2rem;
}

.courses {
	padding: 2rem 2.5rem;
	flex-wrap: wrap;
	justify-content: space-between;
}

.course_box {
	min-width: 25%;
	max-width: 30%;
	margin-right: .5rem;
	margin-bottom: 1.5rem;
	background-color: rgb(92, 115, 145);
}

.course_box img {
	height: auto;
	width: 100%;
}

.course_text {
	padding: 1.5rem;
}

.course_text h3 {
	padding-bottom: 1rem;
}

.course_text p {
	padding-bottom: .5rem;
	opacity: .65;
}

/* thesis exhibit */

.thesis {
	padding-bottom: 2rem;
}

.thesis h1 {
	text-align: center;
	padding: 2rem;
}

.exhibit {
	max-width: 60%;
	height: 100%;
	padding-left: 1.5rem;
}

.exhibit video {
	width: 100%;
	padding-bottom: .5rem;
}

.exhibit h2 {
	padding-bottom: 1.5rem;
	color: black;
}

.ex_box {
	margin-left: 1.5rem;
}

/* footer */

footer {
	height: 5rem;
	background-color: rgb(162, 172, 185);
	border-top: 1px solid rgb(2, 20, 44); 
}

.foot {
	padding: 1rem 1.5rem;
	justify-content: space-between;
	opacity: .6;
}

.foot_text span {
	padding-left: 1rem;
}